* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    width: 100%;
    height: 70px;
}

.navbar {
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
    
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
   background-color: #6a11cb;
   padding: 25px 5px;
   
   
   
 
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        width: 30%;
        text-align: center;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #6a11cb;
        border-radius: 5px;
    }

    .nav-links.active {
        display: block;
    }

    
    .nav-links li {
        margin: 10px 0;
        line-height: 2;
    }
    .nav-links a:hover {
        padding: 0;
        text-decoration: none;
        color: #fff; 
        background-color: #2575fc;
        display: block;
        
        
    }


    .hamburger {
        display: block;
    }
}
